<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="utf-8">
        <title>{% block title %}Template - Huang`View{% endblock %}</title>
        {% block styles %}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="https://www.baidu.com">百度</a></li>
                <li><a href="https://www.facebook.com">脸书</a></li>
            </ul>
        </nav>
        <main>
            {% block lines %}{% endblock %}
        </main>
    </body>
    <footer>
        {% block footer%}
        <small>
            &copy;2023 <a href="https://google.com" title="google link">Google</a>
        </small>
        {% endblock %}
    </footer>
</html>